### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [220]:
import pandas as pd
import numpy as np

herodata = "herodata.csv"

#read file as dataframe
hero_data_df = pd.read_csv(herodata)

hero_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [294]:
#PLAYER COUNT

hero_data_df.dropna()
players = hero_data_df["SN"].unique()
player_count = len(players)
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [222]:
#PURCHASE ANALYSIS

#find number of unique items
item_list = hero_data_df["Item ID"].unique()
unique_items = len(item_list)

#find average item price
average_price = hero_data_df["Price"].mean()

#find number of purchases
purchase_number = len(hero_data_df)

#find total revenue
total_revenue = hero_data_df["Price"].sum()

In [223]:
#create and format summary dataframe #1
purchasing_analysis = [{"Number of Unique Items":unique_items,
                          "Average Item Price":average_price,
                          "Number of Purchases":purchase_number,
                          "Total Revenue":total_revenue}]

purchasing_analysis = pd.DataFrame(purchasing_analysis).style.format({"Average Item Price":"${:.2f}",
                                                                      "Total Revenue": "${:.2f}"})

purchasing_analysis

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [224]:
#GENDER DEMOGRAPHICS

#drop duplicate usernames to get accurate counts
unduplicated = hero_data_df.drop_duplicates(["SN"])

#find total counts and percentages
gender_counts = unduplicated.groupby(["Gender"]).count()
gender_counts = gender_counts["SN"]

gender_percents = (gender_counts/player_count)*100

#put them together
gender_demographics = {"Total Count":gender_counts,
                       "Percentage of Players":gender_percents}

gender_demographics = pd.DataFrame(gender_demographics).style.format({"Percentage of Players":"{:.2f}%"})

gender_demographics


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [225]:
#PURCHASE ANALYSIS (GENDER)

gp_counts = hero_data_df.groupby(["Gender"]).count()
gp_sums = hero_data_df.groupby(["Gender"]).sum()

#Purchase counts (pc) by gender
g_pc = gp_counts["SN"]

#Total purchases (tp) by gender
g_tp = gp_sums["Price"]

#Average purchase price (avg) by gender
g_avg = g_tp/g_pc

#Average purchase total (apt) by player and gender
g_apt = g_tp/gender_counts

#Create and format dataframe
gender_analysis = {"Number of Purchases":g_pc,
                  "Total Expenditure":g_tp,
                  "Avg. Purchase Amount":g_avg,
                  "Avg. Expenditure Per Player":g_apt}

gender_analysis = pd.DataFrame(gender_analysis).style.format({"Total Expenditure":"${:.2f}",
                                                             "Avg. Purchase Amount":"${:.2f}",
                                                             "Avg. Expenditure Per Player":"${:.2f}"})

gender_analysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [228]:
#AGE DEMOGRAPHICS

#find max age to create a flexible range & create a bin range
max_age = hero_data_df['Age'].max()
bins = np.arange(0,max_age+10,10)

#make labels for the bins after checking how many bins are in the bin range
labels = ["<10","11-20","21-30","31-40",">40"]

#put the data into the bins
age_bins = pd.cut(hero_data_df['Age'], bins, labels=labels)

#make a new column for the dataframe
hero_data_df["Age Group"] = age_bins

#total counts for each age group
#percentage of players for each age group
unique_ages = hero_data_df.drop_duplicates(["SN"])

age_counts = unique_ages.groupby(["Age Group"]).count()
age_percents = (age_counts["Price"]/player_count)*100

age_demographics = {"Total Count":age_counts["Price"],
                    "Percentage of Players":age_percents}

age_demographics = pd.DataFrame(age_demographics).style.format({"Percentage of Players": "{:.2f}%"})
age_demographics

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [232]:
#PURCHASE ANALYSIS (AGE)

#use full df with age group column
ap_counts = hero_data_df.groupby(["Age Group"]).count()
ap_sums = hero_data_df.groupby(["Age Group"]).sum()

#purchase count (pc)
a_pc = ap_counts["SN"]

#total purchase value (tpv)
a_tpv = ap_sums["Price"]

#average purchase price (avg)
a_avg = a_tpv/a_pc

#average purchase total per person (apt)
a_apt = a_tpv/age_counts["Price"]


#create and format dataframe
age_analysis = {"Number of Purchases":a_pc,
                "Total Expenditure":a_tpv,
                "Avg. Purchase Price":a_avg,
                "Avg. Expenditure Per Player":a_apt}

age_analysis = pd.DataFrame(age_analysis).style.format({"Avg. Purchase Price": "${:.2f}", 
                                                              "Total Expenditure": "${:.2f}",
                                                              "Avg. Expenditure Per Player": "${:.2f}"})
age_analysis

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [291]:
#BIG SPENDERS

#Isolate the top five spenders
total_spent = hero_data_df.groupby(["SN"]).sum()

big_spenders = total_spent["Price"].sort_values(ascending=False).head()

player_names = big_spenders.index

top_five = hero_data_df.loc[hero_data_df["SN"].isin(player_names)]

#Get the Purchase Count, Average Purchase Price, and Total Purchase Value for each
bs_counts = top_five.groupby(["SN"]).count()
bs_sums = top_five.groupby(["SN"]).sum()

#purchase count (pc)
s_pc = bs_counts["Age"]

#Total Purchase Value (tpv)
s_tpv = bs_sums["Price"]

#Average purchase price (avg)
s_avg = s_tpv/s_pc

#Create, sort, and format dataframe
top_analysis = {"Number of Purchases":s_pc,
                "Avg. Purchase Price":s_avg,
                "Total Expenditure":s_tpv}


top_analysis = pd.DataFrame(top_analysis).sort_values(by=["Total Expenditure"],ascending=False)

top_analysis = top_analysis.style.format({"Avg. Purchase Price": "${:.2f}", 
                                          "Total Expenditure": "${:.2f}"})

top_analysis

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [358]:
#POPULAR ITEMS

most_popular = hero_data_df.drop(columns=["Purchase ID","Age","Gender","Age Group","SN"])

mp_counts = most_popular.groupby(["Item ID","Item Name"]).count()
mp_sums = most_popular.groupby(["Item ID", "Item Name"]).sum()
mp_price = mp_sums/mp_counts

mp_counts["Item Price"] = mp_price["Price"]
mp_counts["Total Purchase Value"] = mp_sums["Price"]
mp_counts = mp_counts.rename(columns={"Price":"Purchase Count"})

top_items = mp_counts.sort_values(by=["Purchase Count"],ascending=False).head()

top_items = top_items.style.format({"Item Price": "${:.2f}",
                                    "Total Purchase Value": "${:.2f}"})
top_items

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [363]:
most_profitable = mp_counts.sort_values(by=["Total Purchase Value"],ascending=False).head()


most_profitable = most_profitable.style.format({"Item Price": "${:.2f}",
                                                "Total Purchase Value": "${:.2f}"})

most_profitable